.list-item {
	position: relative;
	height: 12rem;
	width: 22.4rem;
	margin-left: 0.6rem;

	background: gray;

	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover &__popup {
		position: absolute;
		display: block;
	}

	&__popup {
		display: none;

		bottom: -4.8rem;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);

		width: 32rem;
		border-radius: 0.5rem;
		font-size: 1.4rem;

		color: white;
		background: var(--main-color);
		box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
		transition: all .3s;

		& > video {
			display: block;
			width: 100%;
			height: 14rem;
			border-radius: 0.5rem;

			object-fit: cover;
		}

		& > .item-info {
			padding: 0.8rem;

			& > .icons {
				margin-bottom: 1.2rem;

				& > .icon {
					padding: 0.5rem;
					margin-right: 1rem;
					border-radius: 50%;
					border: 0.2rem solid white;

					font-size: 3.2rem;
					cursor: pointer;
				}
			}

			& > .item-info-top {
				margin-bottom: 1.2rem;
				color: gray;
				font-weight: 600;

				& > .limit {
					margin: 0 1rem;
					padding: 0.1rem 0.3rem;
					border: 0.1rem solid gray;
				}
			}

			& > .desc {
				font-size: 1.3rem;
				line-height: 1.4;
				margin-bottom: 1.2rem;
			}

			& > .genre {
				color: lightgray;
			}
		}
	}
}
